:root {
  --text-color: #3a3a3a;
  --node-bg-color: #cff3ff;
  --node-border-color: #bcdae4;

  --button-text-color: var(--text-color);
  --button-bg-color: white;
  --button-border-color: #d6d6d6;

  --border-radius: 0.5rem;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  color: var(--text-color);
}

.container,
.node__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  color: var(--button-text-color);
  text-decoration: none;
  border: 0.2rem solid var(--button-border-color);
  border-radius: var(--border-radius);
  background: var(--button-bg-color);
  padding: 1rem 1.25rem;
  transition: all 0.3s;
}
.button:hover,
.button:focus {
  --button-border-color: #5a5a5a;
  --button-bg-color: #eaeaea;
  outline: none;
}

.node {
  border: 0.3rem solid var(--node-border-color);
  border-bottom-width: 0;
  padding: 1rem;
  background: var(--node-bg-color);
}
.node:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.node:last-child {
  border-bottom-width: 0.3rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.node--current {
  --node-bg-color: #e8f8fd;
}

.node__collapsible {
  max-height: 50rem;
  overflow: hidden;
  transition: max-height 0.3s;
}
.node:not(.node--current) .node__collapsible {
  max-height: 0;
}

.node__links {
  margin-top: 1rem;
}

.node__link {
  margin-bottom: 0.5rem;
}
.node__link:last-child {
  margin-bottom: 0;
}

.node__extra-text {
  margin-top: 1rem;
}

.node__back-button {
  margin-top: 3rem;
}
